@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.move {
		transition: transform 400ms;
	}
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	scroll-behavior: smooth;
}

/* #240A34
#891652
#EABE6C
#FFEDD8 */
